<!DOCTYPE html>
<html>
<head>
  <title>Rynoq</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
 	
  <%= csrf_meta_tags %>
</head>
<body>
<!-- home template -->
<script id="home-view-template" type="text/x-handlebars-template">
<link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
	
		<div id="home">
			<div id="logo-box">
				<div id="rhino">
					<%= image_tag "rhino.png" %>
				</div>

				<div id="logo">
					<h1>rynoq</h1>
			 	</div>
			</div>

			<div id="home-selectbox">
				<%= select(:stock, :ticker, @select_options_list, prompt: 'Enter company/ticker')%>
			</div>
			
		</div>
	
</script>

<!-- show template -->
<script id="stock-view-template" type="text/x-handlebars-template">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	
	<div id="selectbox">
		<%= select(:stock, :ticker, @select_options_list, prompt: 'Enter company/ticker')%>
		<div = class="nav">
			<a href="/" id="home_link">Home</a>
			<span>|</span>
			<a href='/battle' id="battle_link">Battle</a>
		</div>
	</div>


	<div class="company_info">
		<ul>
			<li><strong>Company Name:</strong> {{company_name}}</li>

			<li><strong>Ticker:</strong> {{ticker}}</li>
			<li><strong>Description:</strong> {{description}}</li>
			<li><button id="start_animation" name="button" type="submit">Start</button></li>
		</ul>
	</div>
</script>

<!-- battle template -->
<script id="battle-view-template" type="text/x-handlebars-template">
<div id="selectbox-one">
	<%= select(:stock_one, :ticker, @select_options_list, prompt: 'Enter company/ticker')%>
		<div = class="nav">
			<a href="/" id="home_link">Home</a>
			<span>|</span>
			<a href='/battle' id="battle_link">Battle</a>
		</div>
</div>

<div class="start_battle">
 <button id="start_battle" name="button" type="submit">Start</button>
</div>

<div id="selectbox-two">
	<%= select(:stock_two, :ticker, @select_options_list, prompt: 'Enter company/ticker')%>
</div>

<div id="stock_left">
</div>

<div id="stock_right">
</div>

</script>

<div id="main">
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
</body>


</html>
